---
import '../font.css';
import '../base.css';
import Navigation from "../components/Navigation.astro";
interface Props {
    title: string;
    description?: string;
    path: string;
}

let {title, description, path} = Astro.props;

title = title + " - hrgn";

if (description === undefined) {
    description = "Personal website of Frederik Hørgreen with links to projects and socials"
}

const url = "https://www.hrgn.dk" + path
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content={description}/>
    <meta name="keywords" content="hrgn, Frederik Hørgreen, portfolio, enterprise architect, hiper">
    <meta name="author" content="Frederik Hørgreen">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="360">
    <meta name="robots" content="all">
    <meta property="og:title" content={title}/>
    <meta property="og:description" content={description}/>
    <meta property="og:url" content={url}/>
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="hrgn">
    <meta property="og:locale" content="en_US">
    <link rel="canonical" href={url}/>
    <link rel="sitemap" href="/sitemap-index.xml"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <title>{title}</title>
</head>
<body>
<div class="space-y-4 max-w-2xl mx-auto">
    <Navigation/>
    <div class="px-4 mb-12">
        <slot/>
    </div>
</div>
</body>
</html>
